name: Install Module And Cache

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  cache:
    if: github.event.pull_request.merged == true
    name: Cache NodeModules
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node
        name: cache module
