name: Install Module And Cache

on: 
  pull_request:
    branches:
      - main
    types:
      - closed

jobs:
  cache:
    if: github.event.pull_request.merged == true
    name: Cache NodeModules
    runs-on: ubuntu-latest
      
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version-file: '.node-version'

      - name: cache node-modules
        id: cache-node-modules
        uses: actions/cache@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/.node-version') }}-${{ hashFiles('**/package-lock.json') }}

      - name: clean-install if cache-hit
        shell: bash
        run: |
          if [ "${{ steps.cache-node-modules.outputs.cache-hit }}" = "true" ]; then
            echo "skip npm clean-install"
          else
            npm ci
          fi
  